<div class="container">
    <form class="jumbotron">
        <h3 class="display-4">Add a email</h3>
        <div class="form-group">
          <label for="title">Email:</label>
          <input name="title" #email class="form-control">
        </div>
        <br>
        <div class="form-group">
          <label for="link">Oggetto:</label>
          <input name="link" #oggetto class="form-control">
        </div>
        <br>
        <label for="link">Testo:</label>
          <input name="link" #testo class="form-control">
      <button (click)="addEmail(email, oggetto, testo)">
        INVIA
      </button>
    </form>
  </div>

  @for(email of emailvett; track email)
  {
     <app-sent-mail [email]="email"></app-sent-mail>
  }